
*{
	margin:0;
	padding:0;
}


:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

#grid {
display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows:auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark)
}

body {
    background: #ccc;
}

header {
    grid-column: 2/12;
    margin: 2px;
}
header img{
    height: 10rem;
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 0.8rem;
}
 
/*///////////////////////////////////////////////
Front
///////////////////////////////////////////////*/

.logo {
    grid-column: 2/12;
    height: 12rem;
    margin-top: 60px;

}

.logo img {
    max-width: 100%;
    height: auto;
}

.log_ind {
    grid-column: 4/10;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    min-height: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;

}

.log_ind .btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;

}

.log_ind .btn:hover {
    background: var(--light);
    color: var(--dark);
}

.opret_bruger {
    grid-column: 3/11;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    min-height: 1rem;
    margin-top: 30px;   


}
.opret_bruger .btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.opret_bruger .btn:hover {
    background: var(--light);
    color: var(--dark);
}

/*///////////////////////////////////////////////
liste_screen
///////////////////////////////////////////////*/

.turnermentname {
    grid-column: 2/11;
    margin-top: 4px;
    background: blue;
    height: 2rem; 
    text-align: center;
    margin-bottom: 1.1rem;
}

.turnermentname .h3 {

}

.indstillinger {
    grid-column: 11/12;
    margin-left: 1rem;
    margin-top: 4px;
    margin-bottom: 1.1rem;

}

.indstillinger .img {
    max-width: 100%;
    height: auto;
}

.points {
    grid-column: 2/5;
    height: 19rem;
    background-color: yellow;

}

.bruger {
    grid-column: 5/11;
    height: 19rem;
    background-color: aqua;

}

.buttons {
    grid-column: 11/12;
    height: 19rem;
    background-color: red;
    
}

.leaderpoints {
    grid-column: 1/5;
    height: 5rem;
    background-color: aqua;
}

.leader {
    grid-column: 5/9;
    height: 5rem;
    background-color: blue;
}

.leaderstraff {
    grid-column: 9/13;
    height: 5rem;
    background-color: orange;
}

/*///////////////////////////////////////////////
logind
///////////////////////////////////////////////*/

.turnermentnaame {
    grid-column: 2/12;
    background-color: palegoldenrod;
    height: 4rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.password {
    grid-column: 2/12;
    background-color: red;
    height: 4rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.log_iind {
    grid-column: 2/12;
    background-color: plum;
    height: 4rem;
    margin-top: 7rem;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.log_iind .btn {
    text-decoration: none;
    

}

/*///////////////////////////////////////////////
indstillinger
///////////////////////////////////////////////*/




/*///////////////////////////////////////////////
opret bruger
///////////////////////////////////////////////*/

.turnerment_navn {
    grid-column: 2/12;
    background-color: aqua;
    height: 4rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;


}

/* .password {
    grid-column: 2/12;
    background-color: red;
    height: 4rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
Blev allerede brugt, men har den samme funktion ... skal i javascript dog kunne noget andet ... spørg Jarne!
} */

.deltager {
    grid-column: 2/12;
    background-color: aqua;
    height: 4rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;


}

.straff {
    grid-column: 2/12;
    background-color: red;
    height: 4rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;


}

.opret {
    grid-column: 2/12;
    background-color: yellow;
    height: 4rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;


}
/*///////////////////////////////////////////////
responsive
///////////////////////////////////////////////*/

/*
@media(max-width: 500px) {

    
}

@media(min-width: 501px) {
    
    .log_ind{
        margin-right: 10px;
    }
    .opret_bruger{
        margin-left: 10px;
    }
    img {
        width: 65%;
        height: auto;
    }
} */
